@import 'https://fonts.googleapis.com/css?family=Work+Sans:400,700';

/*base*/
body{
  font-family: 'Work Sans', sans-serif;
}

*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2{
  font-size: 1.4em;
  letter-spacing: 1em;
  text-transform: uppercase;
}

ul{
  list-style-type: none;
  padding: 0;
}

section{
  padding-top: 5em;
  padding-bottom: 5em;
}




/*theme style*/
.text-light{
  color: white;
}

/*social section*/
.social{
  background-image: url('images/kanye_footer.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  min-height: 80vh;
}

.social h2{
  font-weight: 400;
  text-transform: uppercase;
}

/*contact info*/
.contact-info{
  background-image: url('images/toronto.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  padding: 2em 0;
}

/*map section*/

#map{
  height: 100%;
  width: 100%;
  /*-webkit-mask: url(images/mask.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;*/
}

.map-container{
  height: 400px;
  margin: 5em 0;
}

/*.container{*/
  /*background-color: rgba(189, 120, 135, 0.42);*/
