@import 'https://fonts.googleapis.com/css?family=Work+Sans:400,700';

/*base*/
body{
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  font-size: 1em;
}



*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


h1,
h2,
h3{
  letter-spacing: 1em;
  text-transform: uppercase;
  font-weight: 700;
}

h2,
h3{
  font-size: 1.2em;
}

ul{
  list-style-type: none;
  padding: 0;
}

p,
li{
  text-transform: uppercase;
  letter-spacing: 0.6em;
  line-height: 2em;
  font-size: .9em;
}



.section__title:not(h1){
  margin-bottom: 14em;
}

section{
  position: relative;
}

section,
.social{
  padding-top: 8em;
  padding-bottom: 8em;
}



/*redline styles for body*/
.redline{
  position: fixed;
  width: 80vw;
  height:100%;
  border-left: 1px solid #ffb0b0;
  border-right: 1px solid #ffb0b0;
  left:50%;
  margin-left: -40%;
  z-index: 0;

}

.baf{
  background-attachment: fixed;
}

.drop-shadow{
  filter: drop-shadow(3px 3px 2px #636363);
}


/*theme style*/
.text-light{
  color: white;
}

.social-links{
  width: 80%;
  margin: 0 auto;
}


.social-links-container{
  padding-top: 4em;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
}

@media only screen and (max-width : 768px) {
  .social-links-container{
    justify-content: space-around;
    padding-right: 0;
  }
}

.social-links-container .fa{
  font-size: 1.3em;
  margin-left: auto;
}

@media only screen and (max-width : 768px){
  .social-links-container .fa{
    margin-left: 0;
  }
}


/*hero section*/

#hero{
  margin-bottom: 10em;
  width: 80vw;
  padding-top: 4em;
}

@media only screen and (max-width : 480px){
  #hero{
    width: 100vw;
    width: 100%;
  }
}


.hero-img{
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: -20em 0;
  background-repeat: no-repeat;
  height:80vh;
}

@media only screen and (max-width : 768px){
  .hero-img{
    width: 90%;
    width: 90vw;
    background-position: 85%;
  }
}

@media only screen and (max-width : 480px){
  .hero-img{
    width: 100%;
    width: 100vw;

  }
}

.hero-title{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 100%;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.hero-title h1{
  font-size: 4em;
  letter-spacing: .6em;
  position: relative;
  z-index: 20;
  text-align: right;
  right: -2em;
  position: relative;

}

@media only screen and (max-width: 480px) {
  .hero-title h1{
    right: auto;
    text-align: center;
  }
}

.hero-title .bg-big-text{
  position: absolute;
  right: -0.4em;
  font-size: 20em;
  font-weight: 700;
  color: white;
  z-index: 5;
  flex-basis: auto;
}



@media only screen and (max-width: 480px){
  .bg-big-text{
    align-self: center;
  }
}

@media only screen and (max-width : 480px){
  .hero-title .bg-big-text{
    right: auto;
  }
}

.hero-title span{
  font-size: 16px;
  letter-spacing: .4em;
  font-weight: 300;
  display: block;
  margin-top: 1em;
}



.products{
  margin-bottom: 6em;
  position: relative;
}


.large-bg-image
{
  position: absolute;
  z-index: 10;
  opacity: .4;
  width:65%;
  top: -10em;
}




.large-bg-image img
{
  max-width: 100%;
}


.product{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.product__title{
  font-size: .7em;
  margin-top: 5em;
}

.product,
.product__title{
  z-index: 20;
  position: relative;

}


img[alt*="boost"]{
  margin-bottom: 1em;
  max-width: 120px;
}

img[alt*="hat"]{
  max-width: 100px;
}

img[alt*="jacket"]{
  max-width: 120px;
}

footer{
  z-index: 5;
  position: relative;
}

.section__title{
  text-transform: uppercase;
}


/*pablo tour section*/

#tour{
  overflow: hidden;
}

#tour h1,
#tour p{
  position: relative;
  z-index: 20;
}
.pablo-images{
  position: relative;
  margin-bottom: 75em;
  margin-top: 10em;
}

.pablo-images img{
  position: absolute;
  z-index: 20;
}

img[alt="pablo-lg"]{
  max-width: 400px;
  right: 0;
}

img[alt="pablo-sm"]{
  top: 20em;
  left: 30em;
  max-width: 320px;
}

#tour .large-bg-image{
  right: -2em;
  top: 11em;
}



/*social section*/
.footer{
  background-image: url('images/kanye_footer.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  min-height: 80vh;
}

.form{
  display: flex;
  margin-bottom: 4em;
  margin-top: 4em;
  width: 100%;
}

input.subscribe{
  flex-basis:80%;
  border-right: transparent;

}

.form .subscribe{
  padding: 1.5em;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-family: 'Work Sans';
  letter-spacing: .2em;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: .8em;
  font-weight: 700;
}

.button-container{
  position: relative;
}
.button-container:hover .hover-overlay{
  width: 100%;
}

.button-container:hover button.subscribe{
  color: black;
}

.hover-overlay{
  position: absolute;
    width: 0;
    height: 100%;
    background: white;
    transition: width .3s ease;
    z-index: 4;
}

button.subscribe{
  position: relative;
  z-index: 10;
  transition: color .3s ease;
  border-left: transparent;
  height: 100%;
}

.subscribe-text{
  color: white;
  text-transform: uppercase;
  letter-spacing: .6em;
  margin-bottom: 12em;
}

.subscribe-text h5{
  font-weight: 700;
}




.social h2{
  margin-bottom: 6em;
}

.footer-social-links{
  color: white;
display: flex;
width: 60%;
margin: 0 auto;
justify-content: space-around;
font-size: 1.6em;
margin: 2em auto;
}

.footer-social-links i{
  cursor: pointer;
}



/*contact section*/
.contact{
  position: relative;
  overflow-x: hidden;
}

/*contact info*/
.contact-info{
  z-index: 20;/*second layer*/
  position: relative;

}

.contact__address{
  text-transform: uppercase;
}

.toronto_text_bg_big{
  text-align: center;
  color: #f7f7f7;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 22em;
  position: absolute;
  width: 100%;
  top: -0.1em;
  left: -0.4em;
  z-index: 10; /*first layer*/
}

/*map section*/

#map{
  height: 100%;
  width: 100%;

}

.map-container{
  height: 400px;
  margin: 15em 0 10em 0;
  position: relative;
  z-index: 20;
}

.sr .reveal { visibility: hidden; }
